.caption {
	background-color: black;
	color: white;
	font-size: 5vw;;
	padding: 12px;
	border-radius: 5px;
	line-height: 50px;
}

.bubble {
	border-radius: 4vw;
	border: 2px solid black;
	font-size: 5vw;
	line-height: 8vw;
	padding: 2vw;
	background-color: white;
}

.nextButton {
	background-color: green;
	color: white;
	font-size: 25px;
	padding: 12px;
	border-radius: 5px;
	line-height: 50px;	
	cursor: pointer;
}

.insetImage {
	/*position: absolute;*/
	/*border: 2px solid red;*/
}