.caption {
	background-color: black;
	color: white;
	font-size: 5vw;;
	padding: 2vw;
	border-radius: 1vw;
	line-height: 5vw;
	z-index: 20;
}

.bubble {
	border: 1vw solid black;
	border-radius: 4vw;
	font-size: 5vw;
	line-height: 8vw;
	padding: 2vw;
	background-color: white;
}

.nextButton {
	color: black;
	border-radius: 2vw;
	font-size: 5vw;
	padding: 4vw;
	cursor: pointer;
	z-index: 20;
}

.insetImage {
	/*position: absolute;*/
	/*border: 2px solid red;*/
}